USE [IvyBPortfolio]
GO
/****** Object:  Table [dbo].[RandomUsers]    Script Date: 11/7/2020 12:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[GenderId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[TimeZone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[UniqeID] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[MDPassword] [nvarchar](50) NOT NULL,
	[LoginSHA] [nvarchar](50) NOT NULL,
	[SHAPassword] [nvarchar](100) NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[Age] [int] NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[RegisteredAge] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Cell] [nvarchar](50) NOT NULL,
	[ImageURL] [nvarchar](50) NOT NULL,
	[Nationality] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RandomUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserImages]    Script Date: 11/7/2020 12:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Label] [varchar](40) NULL,
	[Description] [varchar](150) NULL,
	[Size] [int] NULL,
	[Url] [varchar](250) NULL,
	[MimeType] [nchar](40) NULL,
	[BinaryData] [varbinary](max) NULL,
	[ImageData] [image] NULL,
	[IsActive] [bit] NULL,
	[DateCreated] [date] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 11/7/2020 12:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Username] [nchar](80) NULL,
	[Password] [nchar](128) NULL,
	[Secret] [nchar](128) NULL,
	[FirstName] [nchar](80) NULL,
	[LastName] [nchar](80) NULL,
	[Age] [int] NULL,
	[Gender] [int] NULL,
	[Weight] [int] NULL,
	[Height] [nchar](10) NULL,
	[Build] [int] NULL,
	[HairColor] [int] NULL,
	[EyeColor] [int] NULL,
	[Address] [nchar](500) NULL,
	[State] [int] NULL,
	[City] [nchar](100) NULL,
	[Zipcode] [nchar](10) NULL,
	[Country] [nchar](40) NULL,
	[Birthdate] [date] NULL,
	[Description] [nchar](1000) NULL,
	[Title] [nchar](100) NULL,
	[Membership] [nchar](10) NULL,
	[DateCreated] [date] NULL,
	[DateModified] [date] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/7/2020 12:03:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[ImageURL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RandomUsers] ON 

GO
SET IDENTITY_INSERT [dbo].[RandomUsers] OFF
SET IDENTITY_INSERT [dbo].[UserImages] ON 

SET IDENTITY_INSERT [dbo].[UserImages] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [Username], [FirstName], [LastName], [Gender], [Age], [ImageURL]) VALUES (1, N'sadcat522', N'Freya', N'Enge', N'female', 21, N'https://randomuser.me/api/portraits/women/60.jpg')
INSERT [dbo].[users] ([Id], [Username], [FirstName], [LastName], [Gender], [Age], [ImageURL]) VALUES (2, N'lazyzebra180', N'Lila', N'Le Gall', N'female', 32, N'https://randomuser.me/api/portraits/women/64.jpg')
INSERT [dbo].[users] ([Id], [Username], [FirstName], [LastName], [Gender], [Age], [ImageURL]) VALUES (3, N'blackdog210', N'Charles', N'Walker', N'male', 49, N'https://randomuser.me/api/portraits/men/5.jpg')
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF_UserProfile_UserId]  DEFAULT (newid()) FOR [UserId]
GO
